p style="color: green" = notice

article
  == render @post

span = 'Comments'

== render "comments/form", comment: PostComment.new(:post_id => @post.id)

- @comments.each do |comment|
  == render "comments/comment", comment: comment